<p id="notice"><%= notice %></p>

<h1>Hexaverts</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Encoded</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hexaverts.each do |hexavert| %>
      <tr>
        <td><%= hexavert.data %></td>
        <td><%= hexavert.data.unpack("H*") %></td>
        <td><%= link_to 'Show', hexavert %></td>
        <td><%= link_to 'Edit', edit_hexavert_path(hexavert) %></td>
        <td><%= link_to 'Destroy', hexavert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hexavert', new_hexavert_path %>
