<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @hexavert.data %>
</p>

<p>
  <strong>Encoded:</strong>
  <%= @hexavert.data.unpack("H*") %>
</p>

<%= link_to 'Edit', edit_hexavert_path(@hexavert) %> |
<%= link_to 'Back', hexaverts_path %>
